<form action="/count">
  <div class="form_group">
    <label for="user_input_string">Enter a phrase:</label> 
    <input id="user_input_string" name="user_input_string" class="form_group" type="text" />
  </div>
  <div class="form_group">
    <label for="word_to_count">Word you would like to count:</label>
    <input id="word_to_count" name="word_to_count" class="form_group" type="text" />
  </div>
    <button type="submit" class="btn-success">Submit</button>
</form>