<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' type='text/css'               rel="stylesheet" /> 
  </head>
  <body>
    <div class='container'>
      <h1 class='text-info'>Word Counter</h1>
      <%= yield %>
    </div>  
  </body>
</html>